//Colors
$blue: #2660c2;
$light-violet: #9484ee;
$cyan: #2c7cac;
$gray: #d2d4da;
$white: #fff;
$black: #000;

//Fonts
$small: 16px;
$medium: 20px;
$big: 36px;

//Paddings
$large-padding: 10px 15px;
$big-padding: 0px 20px;

//Margins
$default-margin-top: 30px;
$big-margin-top: 90px;

//Boder radius
$border-radius: 4px;